body {
    margin: 0px
}

aside img {
    width: 300px;
    float: left;
}

aside {
    float: left;
    background: #070f29;
    color: white;
    padding: 2.5%;
    width: 25%;
    height: 100vh;
}

aside .logo {
    font-size: 40px;
    fon-weight: bold;
}

aside h3 {
    margin-top: 50px;
    front-size: 20px;
}

aside ul {list-style: none}
aside ul li {
    color: white;
    display: block;
    margin-top: 5px;
    transition: transform .1s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

aside ul li, aside ul a {
    text-decoration: none;
}

